@import 'themes/light.scss';
@import 'themes/dark.scss';
@import 'breakpoints.scss';

.app {
    height: 100%;
    background: var(--white);

    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: normal;

    &.dark {
        color: var(--white-medium);
    }

    &.light {
        color: var(--text-main);
    }
}
