@import 'themes/light.scss';
@import 'themes/dark.scss';
@import 'breakpoints.scss';

.app {
    height: 100%;

    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;

    &.dark {
        background: var(--dark);
        color: var(--white-medium);
    }

    &.light {
        background: var(--white-medium-light);
        color: var(--text-main);
    }
    background: var(--dark-bg-black);
}
