.contestsFilter_container {
    height: 56px;
    background-color: var(--dark);
    border-radius: 999px;
    padding: 4px;
    display: flex;

    .filter_option {
        padding: 12px 24px;
        border-radius: 999px;
        height: 100%;
        font-size: 16;
        font-weight: 600;
        font-family: 'Manrope';
        color: var(--white-muted);
        background: none;
        border: none;
        
        &:focus{
            background-color: var(--green);
            color: var(--white)
        }
    }
}
