.text {
    font-size: 16px;
    line-height: 1.5;

    word-break: break-word;

    &__title {
        font-size: 36px;
        line-height: 1.17;
    }
    &__xxs {
        font-size: 10px;
    }
    &__xs {
        font-size: 12px;
    }
    &__sm {
        font-size: 14px;
        line-height: 1.43;
    }
    &__md {
        font-size: 16px;
        line-height: 1.5;
    }
    &__l {
        font-size: 20px;
        line-height: 1.4;
    }
    &__xl {
        font-size: 24px;
        line-height: 1.33;
    }
    &__xxl {
        font-size: 64px;
        line-height: 1.31;
    }

    &__bold {
        font-weight: 600;
    }

    > span {
        font-weight: 400;
    }
}

@media (max-width: 1919px) {
    .text {
        font-size: 14px;
        &__title {
            font-size: 32px;
            line-height: 1.1;
        }
        &__xxs {
            font-size: 10px;
        }
        &__xs {
            font-size: 12px;
        }
        &__sm {
            font-size: 14px;
            line-height: 1.43;
        }
        &__md {
            font-size: 14px;
        }
        &__l {
            font-size: 18px;
            line-height: 1;
        }
        &__xl {
            font-size: 20px;
            line-height: 1.15;
        }
        &__xxl {
            font-size: 58px;
            line-height: 1.2;
        }

        &__bold {
            font-weight: 600;
        }

        > span {
            font-weight: 400;
            line-height: normal;
        }
    }
}
