.text.tag {
    padding: 4px;
    border-radius: 8px;

    line-height: 1.25;
    letter-spacing: -0.011rem;
    background-color: var(--grey);

    &.light{
        background: var(--grey-secondary-light);
    }

    &__fun {
        padding-left: 17px;
        padding-right: 17px;
        color: var(--magenta);
    }

    &__work {
        padding-left: 12px;
        padding-right: 12px;
        color: var(--orange);
    }
}
