.text.tag {
    padding: 4px 12px;
    border-radius: 8px;

    line-height: 1.25;
    letter-spacing: -0.011rem;
    background-color: var(--grey);

    &.light {
        color: var(--text-light);
        background: var(--bg-light);
    }

    &__Dare {
        padding-left: 17px;
        padding-right: 17px;
        color: var(--magenta);
    }

    &__Contest {
        color: var(--orange);
    }
}
