.categoryFilter_container {
    height: 56px;

    border-radius: 999px;
    padding: 4px;
    display: flex;

    div.app.light & {
        background-color: var(--white);
    }

    div.app.dark & {
        
        background-color: var(--dark);
    }

}
