.pagination-container{
  align-self: center;
  justify-content: center;
  gap: 8px;
  .button{
    width: 32px;
    height: 32px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}