.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-icons {
  display: flex;
}

.custom-icon {
  cursor: pointer;
  margin-left: 5px;
  width: 16px; /* adjust as needed */
  height: 16px; /* adjust as needed */
}