.worksList{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;

    > ul{
        // background-color: red;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
        gap: 20px;
    }

    > .worksList_noWorks{
        height: 400px;
        font-weight: 600;
        font-size: 24px;
        opacity: 0.5;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 850px) {
    .worksList{
        > ul{
            grid-template-columns: 1fr;
        }
    }
}