.worksList{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    > ul{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(458px, 1fr));
        gap: 20px;
    }
}

@media (max-width: 850px) {
    .worksList{
        > ul{
            grid-template-columns: 1fr;
        }
    }
}