.profileSettingsPage{
    max-width: 1920px;
    margin: 0 auto;
    padding: 24px 55px;

    > .profileSettingsPage_header{
        display: flex;
        flex-direction: column;
        gap: 5px;

        > .profileSettingsPage_header_heading{
            font-weight: 600;
            font-size: 36px;
            line-height: 42px;
            letter-spacing: 0%;
            color: white;
        }

        > .profileSettingsPage_header_desc{
            color: #C4C4C4;
            font-weight: 400;
            letter-spacing: 0%;
            font-size: 24px;
            line-height: 100%;
        }
    }


    > .profileSettingsPage_exitDelete{
        display: flex;
        gap: 35px;
        margin-top: 20px;

        > button{
            align-items: center;
            justify-content: space-around;
            flex: 1;

            &:last-child{
                background-color: #EB5533;
                
                &:hover{
                    background-color: #e67259;
                }
            }
        }
    }
}