.registrationInput{

    > .registrationInput_labbel{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -1.1%;
        
        &.validation{
            color: #EB5533;
        }
    }

    > .registrationInput_container{
        margin-top: 8px;
        display: flex;
        align-items: center;
        border: 1px solid #393B3B;
        border-radius: 999px;
        height: 48px;
        padding: 12px;
        box-sizing: border-box;

        &.validation{
            border: 1px solid #EB5533;
        }

        > input{
            flex: 1;
            height: 24px;
            background-color: transparent;
            outline: none;
            border: none;
            font-family: Manrope;
            color: white;
            font-size: 16px;

            &::placeholder{
                font-family: Manrope;
                color: #DDDDDD;
                opacity: 0.5;
            }
        }
        > button{
            background-color: transparent;
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: space-around;
            > img{
                cursor: pointer;
            }
        }
    }

}