.contestsPage_container {
    display: flex;
    flex-direction: column;
}

.contest-gallery {
    &__container {
        padding: 56px 65px;
        gap: 48px;
    }
}

//@media (max-width: 1770px) {
//    .contest-gallery__container{
//        section{
//            .contest-gallery__list{
//                justify-content: center;
//                li{
//                    max-width: 320px;
//                    .contest-card-wrapper{
//                        max-width: 280px;
//                        .contest-card-body{
//                            .image-box{
//                                img{
//                                    max-width: 280px;
//                                }
//                            }
//                        }
//                    }
//                }
//            }
//        }
//    }
//}