.contestsPage_container {
    display: flex;
    flex-direction: column;
}

.contest-gallery {
    &__container {
        padding: 3rem 4rem;
        gap: 4rem;

        @media (max-width: 768px) {
            padding: 1rem;
            gap: 1.3rem;
        }
    }
}
