.userPanel_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

@media (max-width: 1060px) {
    .userPanel_container {
        .createBtn {
            width: unset;
            padding: 12px 20px;

            p {
                display: none;
            }
        }
        > button {
            display: none;
        }
    }
}
