.winners {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__title {
        line-height: 28px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 16px;
    }

    &__other {
        gap: 24px;
    }

    &__other-title {
        line-height: 24px;
    }
}