.button {
    padding: 16px 32px;
    border: none;
    border-radius: 26px;
    cursor: pointer;

    &__m {
        padding: 12px 32px;
    }
    &__s {
        padding: 8px 32px;
    }

    &.dark {
        color: var(--white);

        &.primary {
            background-color: var(--green);

            &:hover {
                background-color: var(--green-light);
            }
            &:focus {
                background-color: var(--green-light);
            }
            &:active {
                background-color: var(--green-medium);
            }
            &:disabled {
                color: var(--white-transp-30);
                background-color: var(--green-dark);
                cursor: not-allowed;
            }
        }

        &.secondary {
            border: 1px solid var(--grey);
            background-color: var(--dark);

            &:hover {
                border: 1px solid var(--grey);
                background-color: var(--grey);
            }
            &:focus {
                border: 1px solid var(--grey);
                background-color: var(--grey);
            }
            &:active {
                border: 1px solid var(--grey-medium);
                background-color: var(--grey-medium);
            }
            &:disabled {
                border: 1px solid var(--green-dark);
                color: var(--white-transp-30);
                background-color: var(--green-dark);
                cursor: not-allowed;
            }
        }

        &.ghost {
            background-color: var(--dark);

            &:hover {
                background-color: var(--grey);
            }
            &:focus {
                background-color: var(--grey);
            }
            &:active {
                background-color: var(--grey-medium);
            }
            &:disabled {
                color: var(--white-transp-30);
                background-color: var(--green-dark);
                cursor: not-allowed;
            }
        }
    }

    &.light {
        color: #0b051a;

        &.primary {
            background-color: var(--green);
        }

        &.secondary {
            background-color: var(--grey);
            border: 1px solid #e5e5e5;
        }

        &.ghost {
            background-color: white;
        }

        &.disabled {
            background-color: #1b2321;
        }

        &:hover {
            background-color: #e0f1ee;
        }
        &:focus {
            background-color: #e0f1ee;
        }
        &:disabled {
            color: #383346;
            background-color: #1b2321;
            cursor: not-allowed;
        }
    }
}
