.button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 32px;
    border: none;
    border-radius: 26px;
    cursor: pointer;

    font-family: 'Manrope', sans-serif;
    font-weight: 600;

    &__m {
        padding: 12px 32px;
    }
    &__s {
        font-size: 14px;
        line-height: 1.71;
        padding: 8px 32px;
    }

    &.primary {
        background-color: var(--green);

        &.button__s {
            font-size: 16px;
            line-height: 1.5;
        }

        &:hover {
            background-color: var(--green-light);
        }
        &:focus {
            background-color: var(--green-light);
        }
        &:active {
            background-color: var(--green-medium);
        }
        &:disabled {
            color: var(--white-transp-30);
            background-color: var(--green-dark);
            cursor: not-allowed;
        }
    }
    &.secondary {
        background-color: transparent;
    }
    &.ghost {
        background-color: transparent;
    }
}
.dark {
    .button {
        color: var(--white);

        &.secondary {
            border: 1px solid var(--grey);

            &:hover {
                border-color: var(--grey);
                background-color: var(--grey);
            }
            &:focus {
                border-color: var(--grey);
                background-color: var(--grey);
            }
            &:active {
                border-color: var(--grey-medium);
                background-color: var(--grey-medium);
            }
            &:disabled {
                border-color: var(--green-dark);
                color: var(--white-transp-30);
                background-color: var(--green-dark);
                cursor: not-allowed;
            }
        }

        &.ghost {
            &:hover {
                background-color: var(--grey);
            }
            &:focus {
                background-color: var(--grey);
            }
            &:active {
                background-color: var(--grey-medium);
            }
            &:disabled {
                color: var(--white-transp-30);
                background-color: var(--green-dark);
                cursor: not-allowed;
            }
        }
    }
}

.light {
    .button {
        color: var(--text-main);

        &.primary {
            color: var(--white);
        }

        &.secondary {
            border: 1px solid var(--border-light);

            &:hover {
                border-color: var(--bg-light-green);
                background-color: var(--bg-light-green);
            }
            &:focus {
                border-color: var(--bg-light-green);
                background-color: var(--bg-light-green);
            }
            &:active {
                border-color: var(--bg-light-grey);
                background-color: var(--bg-light-grey);
            }
            &:disabled {
                border-color: var(--text-placeholder);
                color: var(--white-transp-30);
                background-color: var(--text-placeholder);
                cursor: not-allowed;
            }
        }

        &.div {
            background: transparent;
        }

        &.ghost {
            &:hover {
                background-color: var(--bg-light-green);
            }
            &:focus {
                background-color: var(--bg-light-green);
            }
            &:active {
                background-color: var(--bg-light-grey);
            }
            &:disabled {
                color: var(--white-transp-30);
                background-color: var(--text-placeholder);
                cursor: not-allowed;
            }
        }
    }
}
