.button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 32px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;

    &__m {
        padding: 12px 32px;
    }
    &__s {
        font-size: 14px;
        line-height: 1.71;
        padding: 8px 32px;
    }

    &.primary {
        &.button__s {
            font-size: 16px;
            line-height: 1.5;
        }

        &:hover {
            background-color: var(--green-light);
        }
        &:focus {
            background-color: var(--green-light);
        }
        &:active {
            background-color: var(--green-medium);
        }
    }
    &.secondary {
        background-color: transparent;
    }
    &.ghost {
        background-color: transparent;
    }

    &:disabled {
        cursor: not-allowed;
    }
}
.dark {
    .button {
        color: var(--white);

        &:disabled {
            color: var(--white-transp-30) !important;
            background-color: var(--green-dark) !important;
        }

        &.secondary {
            border: 1px solid var(--grey);

            &:hover {
                border-color: var(--grey);
                background-color: var(--grey);
            }
            &:focus {
                border-color: var(--grey);
                background-color: var(--grey);
            }
            &:active {
                border-color: var(--grey-medium);
                background-color: var(--grey-medium);
            }
            &:disabled {
                border-color: var(--green-dark);
                color: var(--white-transp-30);
                background-color: var(--green-dark);
            }
        }

        &.ghost {
            &:hover {
                background-color: var(--grey);
            }
            &:focus {
                background-color: var(--grey);
            }
            &:active {
                background-color: var(--grey-medium);
            }
            &:disabled {
                color: var(--white-transp-30);
                background-color: var(--green-dark);
            }
        }
    }
}

.light {
    .button {
        color: var(--text-main);

        &.primary {
            color: var(--white);
        }

        &:disabled {
            color: var(--text-placeholder) !important;
            background-color: var(--border-grey) !important;
        }

        &.secondary {
            border: 1px solid var(--border-light);

            &:hover {
                border-color: var(--bg-light-green);
                background-color: var(--bg-light-green);
            }
            &:focus {
                border-color: var(--bg-light-green);
                background-color: var(--bg-light-green);
            }
            &:active {
                border-color: var(--bg-light-grey);
                background-color: var(--bg-light-grey);
            }
            &:disabled {
                border-color: var(--text-placeholder);
                color: var(--text-placeholder);
                background-color: var(--text-placeholder);
            }
        }

        &.ghost {
            &:hover {
                background-color: var(--bg-light-green);
            }
            &:focus {
                background-color: var(--bg-light-green);
            }
            &:active {
                background-color: var(--bg-light-grey);
            }
            &:disabled {
                color: var(--text-placeholder);
                background-color: var(--border-grey);
            }
        }
    }
}

.all {
    .button.primary {
        background-color: var(--green);

        &:hover {
            background-color: var(--green-light);
        }
        &:focus {
            background-color: var(--green-light);
        }
        &:active {
            background-color: var(--green-medium);
        }
    }
}
.fun {
    .button.primary {
        background-color: var(--purple);

        &:hover {
            background-color: var(--purple-light);
        }
        &:focus {
            background-color: var(--purple-light);
        }
        &:active {
            background-color: var(--purple-medium);
        }
    }
}
.work {
    .button.primary {
        background-color: var(--orange);

        &:hover {
            background-color: var(--orange-light);
        }
        &:focus {
            background-color: var(--orange-light);
        }
        &:active {
            background-color: var(--orange-medium);
        }
    }
}

@media (max-width: 1920px) {
    .button {
        padding: 12px 28px;
        font-size: 12px;
    }
}

@media (max-width: 1590px) {
    .button {
        padding: 12px 20px;
    }
}

@media (max-width: 1200px) {
    .button {
        padding: 12px;
    }
}
