.react-player {
    &__preview {
        border-radius: 24px;
        background-size: contain !important;
        background-repeat: no-repeat;

        img {
            object-fit: contain;
        }

        .video-preview-skeleton {
            background: var(--green-dark);
            border-radius: 24px;
        }
    }
}
video {
    cursor: pointer;
}
