.descriptionInput_container{
    .title{
        margin-bottom: 8px;
    }

    .description_placeholder{
        width: 100%;
        max-width: 960px;
        min-height: 96px;
    }

    .description_requirements{
        margin-top: 8px;
        font-size: 12px;
        line-height: 16px;
    }
}