@use 'src/app/styles/breakpoints';

.sidebar {
    width: 86px;
    height: 100%;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin: 20px 7px 0px;
    }
}
.dark {
    .sidebar {
        background-color: var(--dark);
    }
}
.light {
    .sidebar {
        background-color: var(--white);
    }
}
