.profileContests{
    background-color: transparent;
    padding: 24px 24px 24px 24px; 
    box-sizing: border-box;
    border-radius: 24px;
    border: 1px #393B3B solid;
    
    > .profileContests_header{
        display: flex;
        flex-direction: column;
        gap: 4px;

        > .profileContests_header_heading{
            display: flex;
            align-items: center;
            justify-content: space-between;

            > span{
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0%;
                font-weight: 400;
            }

            > a{
                text-decoration: none;
                color: #DDDDDD;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
            }
        }

        > .profileContests_header_desc{
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0%;
            color: #C4C4C4;
        }
    }

    >.profileContests_switch {
        margin-top: 20px;
        list-style: none;
        display: flex;
        border-bottom: 1px #525856 solid;
        box-sizing: border-box;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        > li {
            > button{
                padding: 14px 24px;
                cursor: pointer;
                box-sizing: border-box;
                color: #C4C4C4;
                position: relative;
                background-color: transparent;
                outline: none;
                border: none;
                font-family: Manrope;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0%;
                font-weight: 400;
                            
                &.switched {
                    color: white;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -1px;
                        height: 3px;
                        background-color: white;
                    }
                }
            }
        }
    }

    > .profileContests_contestsList{
        margin-top: 16px;
        padding: 24px;
        background-color: #1B2321;
        border-radius: 42px;

        > .profileContests_contestsList_container{
            max-height: 398px;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: #393B3B transparent;

            // скроллбар
            &::-webkit-scrollbar {
                width: 8px;
                background: transparent;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #393B3B;
                border-radius: 4px;

                border-top: 2px solid black;
                border-bottom: 2px solid black;

                box-sizing: border-box;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: #555;
            }
            > .profileContests_contestsList_empty{
                display: flex;
                align-items: center;
                justify-content: space-around;
                opacity: 0.5;
                font-size: 24px;
            }
        }
    }

    > .profileContests_showMore{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media (max-width: 650px) {
    .profileContests{
        padding: 8px;
    }
}