.notification{
    position: relative;
    display: flex;
    align-items: center;

    > .notification_active{
        position: absolute;
        bottom: 0px;
        right: -5px;
        height: 15px;
        width: 15px;
        background-color: red;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 13px;
    }

    > .notification_list{
        position: absolute;
        width: 200px;
        background-color: yellow;
        color: black;
        padding: 5px;
        border-radius: 5px;
        right: -20px;
        top: 35px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 5px;

        > li{
            background-color: red;
            padding: 2px;

            > button{
                background-color: transparent;
                border: none;
                outline: none;
                text-align: start;
                
            }
        }
        
    }

    > .notification_list_empty{
        position: absolute;        
        width: 200px;
        background-color: yellow;
        color: black;
        padding: 5px;
        border-radius: 5px;
        right: -20px;
        top: 35px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}