.notification{
    position: relative;
    display: flex;
    align-items: center;

    > .notification_active{
        position: absolute;
        top: -2px;
        right: -2px;
        height: 16px;
        width: 16px;
        background-color: #0BA486;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 13px;
    }

    > .notification_list{
        position: absolute;
        width: 385px;
        background-color: #1B2321;
        color: white;
        border-radius: 16px;
        padding: 24px;
        box-sizing: border-box;

        right: -20px;
        top: 35px;
        box-sizing: border-box;

        > .notification_list_header{
            display: flex;
            justify-content: space-between;

            > .notification_list_heading{
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
            }
        }

        > ul{
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        
    }

    > .notification_list_empty{
        position: absolute;        
        width: 200px;
        background-color: yellow;
        color: black;
        padding: 5px;
        border-radius: 5px;
        right: -20px;
        top: 35px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}