.settingsPasswords{
    margin-top: 20px;
    padding: 32px;
    box-sizing: border-box;
    border: 1px #393B3B solid;
    border-radius: 24px;

    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 35px;

    > button{
        height: 50px;
        align-self: flex-end;
    }

    // переопределение стилей
    > .passwordInput{
        > .passwordInput_container{
            background-color: #1B2321;
            border: none;
            border-radius: 8px;
        }
    }

}