.heroSection_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 320px;
    padding: 42px 65px;
    gap: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    > img{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        top: 0;
        left: 0;
    }
    
    div.app.light & {
        // background: url('shared/assets/img/bg@2x.jpg') center no-repeat;
    }

    div.app.dark & {
        // background: url('shared/assets/img/bg@1x.jpg') center no-repeat;
    }

    h2 {
        z-index: 1;
        font-size: 64px;
        line-height: 84px;
        font-weight: 600;
        text-wrap: nowrap;

        .dark {
            color: var(--white);
        }

        .light {
            color: var(--text-main);
        }
    }

    p {
        z-index: 1;
        font-size: 16px;

        line-height: 24px;
        text-align: center;

        .dark {
            color: var(--grey-medium-light);
        }

        .light {
            color: var(--text-main);
        }
    }
}

@media (max-width: 1059px) {
    .heroSection_container {
        h2 {
            font-size: 40px;
            line-height: 1;
            text-wrap: wrap;
            text-align: center;
        }
        p {
            font-size: 16px;

            line-height: 1.29;
            text-align: center;
        }
    }
}

@media (max-width: 1060px) {
    .heroSection_container{
        padding: 42px 20px;
    }
}

@media (max-width: 650px) {
    .heroSection_container{
        padding: 42px 10px;
    }
}