.input {
    width: 246px;
    padding: 12px;
    border: 1px solid var(--green-dark);
    border-radius: 8px;

    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 1.5;

    color: var(--white);
    background-color: var(--green-dark);

    &.error {
        border: 1px solid var(--danger);
    }

    &:disabled {
        color: var(--white-transp-30);
        cursor: not-allowed;
    }

    &::placeholder {
        color: var(--white-transp-50);
    }
}

.input-wrapper {
    gap: 8px;

    & > .input-wrapper__label {
        font-size: 14px;
        line-height: 1.43;
    }

    & > .input-wrapper__info {
        align-items: center;
        gap: 4px;

        & > span {
            font-size: 12px;
            line-height: 1.33;
            color: var(--white-muted);
        }
    }
    & > .input-wrapper__error {
        align-items: center;
        gap: 4px;

        & > span {
            font-size: 12px;
            line-height: 1.33;
            color: var(--danger);
        }
    }
}
