input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    background: url('/src/shared/assets/icons/arrowsUpDown.svg') no-repeat
        center center;
    position: absolute;
    top: 12px;
    right: 12px;
    bottom: 12px;
    width: 1em;
    color: var(--white);
    opacity: 1;
}

input[type='date']::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    background: url('/src/shared/assets/icons/calendar.svg') no-repeat center;
    width: 24px;
    height: 24px;
}

input[type='time']::-webkit-calendar-picker-indicator {
    filter: invert(100%) brightness(100%) contrast(100%);
}

.input {
    width: 246px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid;

    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 1.5;

    &.error {
        border: 1px solid var(--danger);
    }

    &:disabled {
        cursor: not-allowed;
    }

    &::placeholder {
        color: var(--white-transp-50);
    }
}

.input-wrapper {
    gap: 8px;

    & > .input-wrapper__label {
        font-size: 14px;
        line-height: 1.43;
    }

    & > .input-wrapper__info {
        align-items: center;
        gap: 4px;

        & > span {
            font-size: 12px;
            line-height: 1.33;
        }
    }
    & > .input-wrapper__error {
        align-items: center;
        gap: 4px;

        & > span {
            font-size: 12px;
            line-height: 1.33;
            color: var(--danger);
        }

        svg {
            fill: var(--danger);
        }
    }
}

.dark {
    .input {
        border-color: var(--green-dark);
        color: var(--white);
        background-color: var(--green-dark);

        &:disabled {
            color: var(--white-transp-30);
        }

        &::placeholder {
            color: var(--white-transp-50);
        }
    }

    .input-wrapper > .input-wrapper__info > span {
        color: var(--white-muted);
    }
}
.light {
    .input {
        border-color: var(--border-grey);
        color: var(--text-main);
        background-color: var(--white-medium-light);

        &:disabled {
            color: var(--text-placeholder);
        }

        &::placeholder {
            color: var(--text-placeholder);
        }
    }

    .input-wrapper > .input-wrapper__info > span {
        color: var(--grey-light);
    }
}
