.work-preview {
    width: 100%;
    padding: 0;
    background-color: transparent;
    height: 100%;

    > .flex__row {
        width: 100%;

        .work-desc {
            box-sizing: border-box;
            position: relative;
            width: 520px;
            gap: 16px;

            &.type-text {
                width: 100%;
            }

            &__text {
                max-height: 9rem;
                overflow-y: scroll;

                /* Hide scrollbar */
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
                &::-webkit-scrollbar {
                    display: none; /* Chrome, Safari and Opera */
                }

                & > .read-more-btn {
                    padding: 0;

                    border: none;
                    background-color: transparent;
                    cursor: pointer;

                    font-weight: 700;
                    font-size: 16px;
                    line-height: 1.5;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .upper-desc {
                padding: 16px 16px 0;
                gap: 16px;

                .creator-desc {
                    justify-content: space-between;
                    align-items: center;

                    .flex {
                        gap: 8px;
                    }
                }

                .tag-contest {
                    width: -webkit-fit-content;
                    padding: 4px;
                    box-sizing: border-box;
                    border-radius: 4px;
                    font-size: 12px;
                    gap: 3px;

                    &.light {
                        background: var(--white-medium-light);
                    }
                    &.dark {
                        background: #1b2321;
                    }
                    .icon-box {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;
                        box-sizing: border-box;
                        width: 18px;
                        height: 18px;
                        border-radius: 2px;
                        background: var(--purple);
                        .icon-work__prev {
                            width: 13px;
                            fill: var(--white) !important;
                        }
                    }
                }
            }
        }
    }

    .feedback__wrapper {
        padding: 0 16px;
    }

    .comments {
        gap: 16px;
        padding: 16px 16px 83px;
        border-top: 1px solid;
        overflow-y: scroll;

        /* Hide scrollbar */
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari and Opera */
        }

        &__list {
            width: 100%;

            .comment-action__box {
                right: 28px;
            }
        }
    }
}

.dark {
    .work-preview {
        .comments {
            border-color: var(--grey-border);
        }
    }
    .work-desc {
        &__text {
            & > .read-more-btn {
                color: var(--main-dark);
            }
        }
        .creator-desc {
            &__timeago {
                color: var(--grey-dots);
            }
        }
    }
}
.light {
    .work-preview {
        .comments {
            border-color: var(--border-grey);
        }
    }
    .work-desc {
        &__text {
            & > .read-more-btn {
                color: var(--main-dark);
            }
        }
        .creator-desc {
            &__timeago {
                color: var(--grey-light);
            }
        }
    }
}
