.contest {
    gap: 48px;
    box-sizing: border-box;
    &__container {
        gap: 48px;
        padding: 0 197px 56px;
        box-sizing: border-box;
    }
}

@media (max-width: 1920px) {
    .contest {
        &__container {
            padding: 0 5vw 0;
        }
    }
}

@media (max-width: 1700px) {
    .contest {
        &__container {
            padding: 0 3vw 0;
        }
    }
}
