.contest {
    position: relative;
    gap: 48px;
    box-sizing: border-box;
    // max-width: 1920px;
    // margin: 0 auto;

    &__container {
        gap: 48px;
        padding: 0 195px 56px;
        box-sizing: border-box;
    }

    &__error-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
}

@media (max-width: 1920px) {
    .contest{
        &__container {
            padding: 0 65px 56px;
        }
    }
}


@media (max-width: 1060px) {
    .contest{
        &__container {
            padding: 0 16px 56px;
        }
    }
}

@media (max-width: 650px) {
    .contest{
        &__container {
            padding: 0 8px 56px;
        }
    }
}

.work-preview-modal {
    height: 100%;
    align-self: center;
}
