.contest {
    position: relative;
    gap: 48px;
    box-sizing: border-box;

    &__container {
        gap: 48px;
        padding: 0 197px 56px;
        box-sizing: border-box;
    }

    &__error-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
}

@media (max-width: 1920px) {
    .contest {
        &__container {
            padding: 0 5vw 0;
        }
    }
}

@media (max-width: 1700px) {
    .contest {
        &__container {
            padding: 0 3vw 0;
        }
    }
}

.work-preview-modal {
    height: 100%;
    align-self: center;
}
