.profilePage{
    width: 100%;
    padding: 24px 65px;



    > .profilePage_inner{
        margin: 0 auto;
        max-width: 1810px;

        > .profilePage_heading{
            display: flex;
            flex-direction: column;
            gap: 12px;

            > h2{
                font-weight: 600;
                font-size: 42px;
                line-height: 100%;
                letter-spacing: 0%;
                color: white;
            }

            > .profilePage_heading_addiional{
                color: #C4C4C4;
                font-weight: 400;
                letter-spacing: 0%;
                font-size: 24px;
                line-height: 100%;
            }
        }

        > .profilePage_container{
            display: flex;
            gap: 24px;
            margin-top: 48px;

            > .profilePage_leftContainer{
                display: flex;
                flex-direction: column;
                gap: 24px;
                width: 100%;
                max-width: 660px;
            }

            > .profilePage_rightContainer{
                flex: 1;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 24px;
            }
        }
    }

}

@media (max-width: 2020px) {
    .profilePage{
        > .profilePage_inner{
            > .profilePage_container{
                > .profilePage_leftContainer{
                    flex: 0.5;
                    // max-width: none;
                }
            }
        }
    }
}

@media (max-width: 1350px) {
    .profilePage{
        > .profilePage_inner{
            > .profilePage_container{
                flex-direction: column;

                > .profilePage_leftContainer{
                    max-width: none;
                    flex: 1;
                }
            }
        }
    }
}

@media (max-width: 1060px) {
    .profilePage{
        padding: 65px 16px 120px 16px;
    }
}

@media (max-width: 650px) {
    .profilePage{
        padding: 65px 8px 120px 8px;
        > .profilePage_inner{
            > .profilePage_container{
                gap: 16px;

                > .profilePage_leftContainer{
                    gap: 16px;
                }

                > .profilePage_rightContainer{
                    gap: 16px;
                }
            }
        }
    }
}