.profilePage{
    padding: 24px 65px;

    > .profilePage_heading{
        display: flex;
        flex-direction: column;
        gap: 12px;

        > h2{
            font-weight: 600;
            font-size: 42px;
            line-height: 100%;
            letter-spacing: 0%;
            color: white;
        }

        > .profilePage_heading_addiional{
            color: #C4C4C4;
            font-weight: 400;
            letter-spacing: 0%;
            font-size: 24px;
            line-height: 100%;
        }
    }

    > .profilePage_Container{
        display: flex;
        gap: 24px;
        margin-top: 48px;

        > .profilePage_leftContainer{
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 100%;
            max-width: 660px;
        }

        > .profilePage_rightContainer{
            flex: 1;
            width: 100%;
        }
    }

}



// поменять педдинги
@media (max-width: 1500px) {
    .profilePage{

        > .profilePage_heading{
            > h2{
                text-align: center;
                font-size: 36px;
            }

            > .profilePage_heading_addiional{
                text-align: center;
                font-size: 18px;
            }
        }

        > .profilePage_Container{
            display: flex;
            flex-direction: column;
        }
    }
}

// поменять педдинги
@media (max-width: 1060px) {
    .profilePage{
        padding: 24px 20px;
    }
}