.burgerMenu {
    position: sticky;
    z-index: 4;
    top: 0;

    padding: 16px 25px;

    svg {
        div.app.dark & {
            fill: var(--white-medium);
        }

        div.app.light & {
            fill: var(--text-main);
        }
    }
}
