.mediaGalery {
    width: 100%;
    max-width: 668px !important;
    min-width: 668px !important;
    flex: 1;
    height: 100%;
    overflow: hidden;
    background-color: black;
    position: relative;
    user-select: none;
    > .mediaGalery_media {

        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.5s ease-in-out;
        // z-index: ;

        &.slideInNext {
            animation: slideInFromRight 0.4s forwards;
        }

        &.slideInPrev {
            animation: slideInFromLeft 0.4s forwards;
        }

        &.mediaGalery_media--hidden {
            display: none;
        }

        > img,
        > video {
            width: 100%;
            height: 100%;
            object-fit: contain;
            
            // Оптимизация для производительности
            transform: translateZ(0);
            backface-visibility: hidden;
            perspective: 1000px;
        }
    }

    > .mediaGalery_navigationButton{
        position: absolute;
        z-index: 1000;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 100px;

        &:first-child{
            left: 0;
        }

        &:last-child{
            right: 0;
        }
    }

    > .mediaGalery_navigationDataInfo{
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
    }

    > .mediaGalery_navigationDataLeft{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 13px;
        z-index: 1000;
    }
    
    > .mediaGalery_navigationDataRight{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 13px;
        z-index: 1000;
    }
}

// Ключевые кадры
@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 700px) {
    .mediaGalery{
        max-width: none !important;
        position: static;
    }    
}