.contest-card-wrapper{
  width: 408px;
  height: 515px;
  background: var(--dark-grey);
  padding: 16px;
  box-sizing: border-box;
  z-index: 22;
  border: 1px solid var(--dark-grey);
  .btn-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}