.contest-card-wrapper{
  width: 408px;
  height: 515px;
  background: var(--dark-grey);
  padding: 16px;
  box-sizing: border-box;
  z-index: 22;
  border: 1px solid var(--dark-grey);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .contest-card-header{
    display: flex;
  }
  .btn-box{
    padding-top: 16px;
    box-sizing: border-box;
    border-top: 1px solid var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}