.registrationModal{
    width: 582px;
    padding: 28px 32px;
    background-color: #1B2321;
    height: 100%;
    border-radius: 20px;

    > .registrationModal_header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        > .registrationModal_header_heading{
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0%;
        }

        > .registrationModal_header_desc{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0%;
            color: #DDDDDD;
        }
    }

    > .registrationModal_switchMode{
        margin-top: 16px;
    }

    > .registrationModal_inputs{
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}