.feedWorkSkeleton{
    display: flex;
    flex-direction: column;
    gap: 10px;
    > .feedWorkSkeleton_profile{
        display: flex;
        gap: 10px;

    }

    .feedWorkSkeleton_mediaWrapper {
        aspect-ratio: 455 / 612;
        width: 100%;
        padding-top: calc(612 / 455 * 100%);

        
        > .feedWorkSkeleton_media {
            width: 100%;
            height: 100%;
        }
    }
}