.contestHero{
    width: 100%;
    padding: 0;
    margin-bottom: 20px;

    > .contestHero_image{
        width: 100%;
        height: 390px;
        border-radius: 8px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    > .contestHero_container{
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 0 197px;
        align-items: center;

        > a{
            color: white;
            display: flex;

            > .contestHero_creator{
                position: absolute;
                bottom: -35px;
                left: 197px;
                display: flex;
                align-items: end;

                > img{
                    border: 4px #02140E solid;
                }

                > .contestHero_creator_name .text{
                    font-size: 22px;
                    margin-left: 16px;
                    position: relative;
                    bottom: 15px;
                }
            }
        }

        > .contestActions{
            position: relative;
            > button{
                background-color: transparent;
                outline: none;
                border: none;
                cursor: pointer;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }

            > .contestActions_actions{
                top: -5px;
                right: 35px;
                position: absolute;
                display: flex;
                flex-direction: column;
                padding: 10px 0;
                background-color: #1b2321;
                width: 100px;
                border-radius: 12px;

                > button{
                    z-index: 101;
                    display: flex;
                    align-items: center;
                    border: none;
                    outline: none;
                    justify-content: space-around;
                    background-color: transparent;
                    height: 31px;
                    padding: 8px 10px;
                    color: white;
                    font-size: 16px;
                    font-family: 'Manrope';
                    transition: background-color ease 0.3ms;
                    font-weight: 600;

                    &:hover{
                        transition: background-color ease 0.3ms;
                        background-color: #393b3b;
                    }
                }

                > .contestActions_actions_onBlur{
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: transparent;
                    z-index: 100;
                    &:hover{
                        background-color: transparent;
                    }
                }
            }
        }
    }
}




.dark {
    .contest-hero {
        &__creator {
            > img {
                border-color: var(--dark);
            }
        }
    }
}
.light {
    .contest-hero {
        &__creator {
            > img {
                border-color: var(--white-medium-light);
            }
        }
    }
}