.contest-hero {
    width: 100%;
    padding: 0;

    &__image {
        width: 100%;
        height: 390px;
        border-radius: 8px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__creator {
        position: relative;

        padding: 16px 132px 0;

        > img {
            position: absolute;
            top: -70px;
            left: 132px;

            border: 4px solid;
            object-fit: cover;
        }

        & > div {
            padding-left: 156px;
            gap: 4px;

            & > div {
                gap: 4px;
            }
        }
    }
}

.dark {
    .contest-hero {
        &__creator {
            > img {
                border-color: var(--dark);
            }
        }
    }
}
.light {
    .contest-hero {
        &__creator {
            > img {
                border-color: var(--white-medium-light);
            }
        }
    }
}

@media (max-width: 768px) {
    .contest-hero {
        &__image {
            width: 100%;
            height: 9rem;
            border-radius: 8px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__creator {
            position: relative;
            padding: 1rem 1rem 0;

            > img {
                position: absolute;
                top: -3rem;
                left: 0.5rem;
                border: 2px solid;
                object-fit: cover;
            }

            & > div {
                padding-left: 9rem;
                align-items: center;
                margin: auto;

                & > div {
                    gap: 4px;
                }
            }
        }
    }
}
