.radioEl_container {
    width: 160px;
    height: 86px;
    background-color: var(--green-dark);
    border-radius: 8px;
    padding: 13px 16px;
    gap: 4px;

    cursor: pointer;

    .radioEl_container_text {
        letter-spacing: -0.011em;
        color: var(--white-muted);
    }

    &.active {
        border: 1px solid var(--white);

        .radioEl_container_text {
            font-weight: 600;
        }
    }
}

@media (max-width: 1280px) {
    .radioEl_container {
        width: 135px;
    }

    .radioEl_container_text {
        font-size: 12px;
    }
}
