.profileWallet_transaction{
    display: flex;
    padding: 16px 12px;
    justify-content: space-between;
    align-items: center;
    border-bottom: #02140E 1px solid;

    &:last-child{
        border: none;
    }

    > .profileWallet_transaction_left{
        display: flex;
        gap: 12px;
        align-items: center;

        > .profileWallet_transaction_status{
            height: 32px;
            width: 32px;
            aspect-ratio: 1/1;
            flex-shrink: 0;
            background-color: #0BA486;
            display: flex;
            border-radius: 50%;
            align-items: center;
            justify-content: space-around;
        
            &.minus{
                background-color: #393B3B;
            }
        }

        > .profileWallet_transaction_info{
            display: flex;
            flex-direction: column;

            > .profileWallet_transaction_info_action{
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0%;
            }

            > .profileWallet_transaction_info_date{
                color: #DDDDDD;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0%;
            }
        }
    }

    > .profileWallet_transaction_right{
        color: #0BA486;
        font-weight: 700;
        line-height: 24px;
        font-size: 16px;
        letter-spacing: 0%;
    }
}