.contest-card-wrapper {
    width: 100%;
    max-width: 408px;
    height: 515px;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .flex.justify__between {
        width: 100%;

        .flex.align__center {
            gap: 8px;
        }
    }
    .user-des {
        gap: 4px;

        .flex.align__center > .flex.align__center {
            gap: 4px;
        }
    }

    > .contest-card-body{  
        width: 100%;
        >.image-box {
            margin: 16px 0 32px 0;
            position: relative;
            width: 100%;

            > img {
                display: block;
                width: 100%;
                object-fit: cover;
                aspect-ratio: 376/211;
                object-position: top;
                border-radius: 16px;
            }

            .prize {
                padding: 4px 12px;
                box-sizing: border-box;
                display: flex;
                position: absolute;
                bottom: -10px;
                border-radius: 8px;
                gap: 8px;
                color: var(--white);

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
    .contest-card-title {
        width: 100%;

        .segments {
            width: 100%;
            display: flex;
            gap: 8px;
            margin-top: 10px;
            margin-bottom: 16px;

            div {
                box-sizing: border-box;
                padding: 4px 12px;
                border-radius: 8px;
                font-size: 14px;
                font-weight: 400;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                min-width: 70px; // можно и меньше — 70px это около 7 символов
                max-width: 100%; // ограничим максимальную ширину контейнером
            }
        }

    }
    .btn-box {
        width: 100%;
        padding-top: 16px;
        box-sizing: border-box;
        border-top: 1px solid;
    }
}

.contest-card-skeleton {
    .user-box {
        display: flex;
        gap: 8px;
    }

    .contest-title-box {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .contest-title {
            height: 28px;
        }
    }

    div {
        width: 100%;
    }
}

.dark {
    .contest-card-wrapper {
        background: var(--green-dark);

        .btn-box {
            border-top-color: var(--grey);

            .date {
                color: var(--white-medium);
            }
        }
        .contest-card-header {
            .user-box .user-des .name-box {
                color: var(--white-medium);
            }
            .rating-box {
                span {
                    color: var(--white-medium);
                }
            }
        }
        .contest-card-title {
            h4 {
                color: var(--white);
            }

            .segments {
                color: var(--white);

                div {
                    background: var(--grey-dark);
                }
            }
        }
    }
}

.light {
    .contest-card-wrapper {
        border: 1px solid var(--white-medium-light);
        background: var(--white);

        .btn-box {
            border-top-color: var(--white-medium-light);
        }
        .contest-card-body .contest-card-title .segments div {
            background-color: var(--bg-light);
        }
    }
}