.contest-card-wrapper {
    width: 408px;
    height: 515px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .flex.justify__between {
        width: 100%;

        .flex.align__center {
            gap: 8px;
        }
    }
    .user-des {
        gap: 4px;

        .flex.align__center > .flex.align__center {
            gap: 4px;
        }
    }
    .contest-card-body .image-box {
        position: relative;

        .image {
            cursor: pointer;
        }

        .prize {
            padding: 4px 12px;
            box-sizing: border-box;
            display: flex;
            position: absolute;
            bottom: -10px;
            border-radius: 8px;
            gap: 8px;
            color: var(--white);

            svg {
                width: 24px;
                height: 24px;
            }
        }
    }

    .contest-card-title {
        width: 100%;

        .segments {
            width: 100%;
            gap: 8px;
            margin-top: 10px;

            div {
                display: flex;
                box-sizing: border-box;
                padding: 4px 12px;
                border-radius: 8px;
                font-size: 14px;
                font-weight: 400;

                &.dark {
                    background-color: var(--grey-dark);
                }
                &.light {
                    background-color: var(--bg-light);
                }
            }
        }
    }
    .btn-box {
        width: 100%;
        padding-top: 16px;
        box-sizing: border-box;
    }
    &.light {
        border: 1px solid var(--white-medium-light);
        background: var(--white);

        .btn-box {
            border-top: 1px solid var(--white-medium-light);
        }
    }
    &.dark {
        background: var(--green-dark);

        .btn-box {
            border-top: 1px solid var(--grey);

            .date {
                color: var(--white-medium);
            }
        }
        .contest-card-header {
            .user-box .user-des .name-box {
                color: var(--white-medium);
            }
            .rating-box {
                span {
                    color: var(--white-medium);
                }
            }
        }
        .contest-card-body .contest-card-title {
            h4 {
                color: var(--white);
            }

            .segments {
                color: var(--white);
                div {
                    background: var(--grey-dark);
                }
            }
        }
    }
}

@media (max-width: 1919px) {
    .contest-card-wrapper {
        max-width: 21vw;

        .contest-card-body .image-box .image {
            max-width: 19vw;
        }

        .contest-card-title .segments {
            .dark,
            .light {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 1800px) {
    .contest-card-wrapper {
        max-width: 20vw;

        .contest-card-body .image-box .image {
            max-width: 18vw;
        }
    }
}

@media (max-width: 1769px) {
    .contest-card-wrapper .contest-card-title .segments {
        .dark,
        .light {
            font-size: 10px;
        }
    }
}

@media (max-width: 1559px) {
    .contest-card-wrapper {
        justify-content: flex-start;
        gap: 20px;
        height: 100%;

        .flex.justify__between.align__center .flex {
            img {
                width: 36px;
                height: 36px;
            }

            .flex.flex__col.user-des > .flex > span {
                font-size: 10px;
            }
        }

        .contest-card-body .image-box img {
            max-width: 17vw;
        }

        .contest-card-title .segments {
            .dark,
            .light {
                font-size: 8px;
            }
        }
    }
}

@media (max-width: 1439px) {
    .contest-card-wrapper {
        width: 100%;
        max-width: unset;

        .flex.justify__between.align__center .flex {
            img {
                width: 44px;
                height: 44px;
            }

            .flex.flex__col.user-des > .flex > span {
                font-size: 12px;
            }
        }

        .contest-card-body .image-box .image {
            max-width: unset;
        }

        .contest-card-title .segments {
            .dark,
            .light {
                font-size: 10px;
            }
        }
    }
}

@media (max-width: 1059px) {
    .contest-card-wrapper {
        max-width: 35vw;

        .contest-card-body .image-box .image {
            max-width: 32vw;
        }
    }
}

@media (max-width: 800px) {
    .contest-card-wrapper {
        max-width: 52vw;

        .contest-card-body .image-box .image {
            max-width: 50vw;
        }

        .contest-card-title .segments {
            .dark,
            .light {
                font-size: 12px;
            }
        }
    }
}
