.uploadWorkModal{
    height: 100%;
    width: 100%;
    width: 748px;
    box-sizing: border-box;
    padding: 24px 16px;

    .uploadWorkModal_container{
        max-height: 800px;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    
        > .uploadWorkModal::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }

        > .uploadWorkModal_heading{
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0%;
            padding-bottom: 24px;
            border-bottom: 1px #3B3B3B solid;
        }

        > .uploadWorkModal_description{
            margin-top: 24px;
            text-align: start;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
        }

        > .uploadWorkModal_inputText{
            margin-top: 16px;
            padding-bottom: 16px;
            border-bottom: 1px #3B3B3B solid;
        }

        > .uploadWorkModal_media{
            margin-top: 16px;
            border-bottom: #3B3B3B 1px solid;
            padding-bottom: 24px;

            > .uploadWorkModal_media_mediaList{
                margin-top: 16px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 16px;
            }
        }

        > .uploadWorkModal_buttons{
            margin-top: 24px;
            display: flex;
            gap: 24px;
            align-items: center;
            justify-content: end;
        }
    }
}
