.button__sort {
    display: flex;
    flex-direction: column;
    gap: 2px;

    cursor: pointer;
    border: none;
    background-color: transparent;

    & > svg.active {
        scale: 1.5;
    }
}
