.filter_option {
    padding: 12px 24px;
    border-radius: 999px;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Manrope';
    background: none;
    border: none;
    cursor: pointer;

    div.app.light & {
        color: var(--text-light);
    }

    div.app.dark & {
        color: var(--white-muted);
    }
}

@media (max-width: 768px) {
    .filter_option {
        font-size: 15px;
        min-width: 5rem;
    }
}

.activeFilter {
    div.app.light & {
        background-color: var(--blue-primary);
        color: var(--white);
    }

    div.app.dark & {
        color: var(--white);
    }

    .dark.all & {
        background-color: var(--green);
    }

    .dark.fun & {
        background-color: var(--purple);
    }

    .dark.work & {
        background-color: var(--orange);
    }
}
