.worksSection{
    display: flex;
    justify-content: space-around;

    > .worksSection_container{
        max-width: 500px;
        width: 100%;
        padding: 0 20px;
        > .worksSection_list{
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 100%;
            max-width: 500px;

            > li{
                // background-color: red;
                max-width: 500px;
                width: 100%;
            }
        }
    }
}