.filter-controller {
    position: relative;
}

.filter-wrapper {
    width: 551px;
    padding: 24px;
    border-radius: 16px;

    gap: 24px;

    position: absolute;
    top: 50px;
    right: 0;
    z-index: 50;

    &.filter-hidden {
        visibility: hidden;
        pointer-events: none;
    }

    &__block {
        gap: 16px;

        & > .filter-block__list {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            .filter-item {
                padding: 6px 12px;
                border: none;
                border-radius: 18px;

                cursor: pointer;

                & > span {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    font-family: 'Manrope', sans-serif;
                }
            }
        }

        .filter-block__hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;

            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }

        .filter-range {
            &__block {
                margin-bottom: 12px;

                > div {
                    position: relative;
                    gap: 8px;

                    > div + span {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                    }
                }
            }
            &__number {
                width: 160px;
                padding: 8px 16px;
                border-radius: 8px;

                background-color: var(--grey);
            }
            &__input {
                width: 100%;
            }
        }
    }

    & > hr {
        width: 100%;
        height: 1px;
        margin: 0;
        border: none;
    }
}

.dark {
    .filter-wrapper {
        box-shadow: var(--drop-shadow);
        background-color: var(--green-dark);

        .close-icon {
            fill: var(--white-medium);
        }

        &__block {
            gap: 16px;

            & > .filter-block__list .filter-item {
                color: var(--white-medium);
                background-color: var(--grey);
                user-select: none;

                &.active {
                    background-color: var(--white-medium);
                    color: var(--dark-bg);

                    > span > span {
                        color: var(--dark-light);
                    }
                }
            }

            & svg {
                fill: var(--grey-light);
            }
        }

        & > hr {
            background-color: var(--dark-light);
        }
    }
}
.light {
    .filter-wrapper {
        box-shadow: var(--drop-shadow);
        background-color: var(--white);

        .close-icon {
            fill: var(--grey-light);
        }

        &__block {
            gap: 16px;

            & > .filter-block__list .filter-item {
                background-color: var(--bg-light);

                &.active {
                    background-color: var(--text-main);

                    > span {
                        color: var(--white);
                        font-weight: 600;
                    }
                }

                & > span {
                    color: var(--text-light);
                }
            }

            .filter-range {
                &__block {
                    & > div > div + span {
                        color: var(--white);
                    }
                }

                &__number {
                    color: var(--white);
                }
            }

            & svg {
                fill: var(--grey-light);
            }
        }

        & > hr {
            background-color: var(--white-medium);
        }
    }
}

// SLIDER

.rc-slider {
    .rc-slider-rail {
        background-color: var(--grey);
    }
    .rc-slider-track {
        background-color: var(--green);
        cursor: pointer;
    }
    .rc-slider-handle {
        width: 16px;
        height: 16px;
        border: none;
        opacity: 1;
        background-color: var(--green);
    }
}
