.input-wrapper {
    position: relative;

    select {
        box-sizing: border-box;
        width: 100%;
        padding-right: 30px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;

        background-color: var(--green-dark);
        background-image: url('/src/shared/assets/icons/arrowCombo.svg');
        background-repeat: no-repeat;
        background-position-x: calc(100% - 12px);
        background-position-y: 50%;
    }

    select .placeholder-option {
        color: #585d5c;
    }
}
