.navElement {
    width: 72px;
    height: 72px;
    border-radius: 8px;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .svg_main {
        div.app.light & {
            fill: var(--text-light);
            path{
                fill: black;
            }
        }
    }

    .svg_filled {
        display: none;
    }

    p {
        font-family: 'Manrope', 'sans-serif';
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        padding: 2px 0;

        div.app.dark & {
            color: var(--white-muted);
        }

        div.app.light & {
            color: var(--text-light);
        }
    }
}

.active_navlink {
    div.app.dark & {
        background-color: var(--grey);
    }

    .svg_main {
        display: none;
    }

    .svg_filled {
        display: block;
        div.app.dark & {
            fill: var(--white-medium);
        }

        div.app.light &{
            fill: var(--text-main);
            path{
                fill: black;
            }
        }
    }

    p {
        div.app.dark & {
            color: var(--white-muted);
        }

        div.app.light &{
            color: var(--text-light);
        }
        font-weight: 600;
    }
}
