.app.dark {
    --green: #0ba486;
    --green-medium: #1b2321;
    --green-dark: #02140e;
    --green-light: #393b3b;
    --body-muted: #dddddd;
    --danger: #eb5533;
    --blue-primary: #4429ff;
    --dark-bg: #0b051a;
    --dark-medium: #1f1b2b;
    --dark-light: #383346;
}
