.app.light {
    --white: #ffffff;
    --white-medium: #e6e6ed;
    --white-medium-light: #f8f8f8;
    --white-muted: #dddddd;

    --text-main: #0b051a;

    --border-grey: #e5e5e5;
    --light-dark: #0b051a;
    --light-grey: #e6e6ed;
    --light-white: #f1f3f8;
    --golden: #edb800;
    --magenta: #da5cef;
    --purple: #a65cef;
    --purple-medium: #8438d0;
    --orange: #f28332;
    --danger: #eb5533;

    --border-light: #e5e5e5;
    --border-grey: #d8d8d8;
    --bg-light: #f1f3f8;
    --bg-light-green: #e0f1ee;
    --bg-light-grey: #b0bebb;

    --drop-shadow: 0 0 40px #aeaeae15;
}
