.app.light {
    --white: #ffffff;
    --white-medium: #e6e6ed;
    --white-medium-light: #f8f8f8;
    --white-muted: #dddddd;

    --bg-light: #f1f3f8;
    --border-light: #d8d8d8;

    --text-main: #0b051a;
    --text-light: #383346;
    --text-placeholder: #747474;

    --grey: #393b3b;
    --grey-light: #413d4d;

    --green: #0ba486;
    --green-light: #16b391;
    --green-medium: #099176;
    --green-dark: #1b2321;

    --blue-primary: #4429ff;
    --golden: #edb800;
    --magenta: #da5cef;
    --purple: #a65cef;
    --purple-medium: #8438d0;
    --orange: #f28332;
    --danger: #eb5533;
}
