.app.light {
    --white: #ffffff;
    --white-medium: #e6e6ed;
    --white-medium-light: #f8f8f8;
    --white-muted: #dddddd;

    --bg-light: #f1f3f8;
    --border-light: #d8d8d8;

    --text-main: #0b051a;

    --border-grey: #e5e5e5;
    --light-dark: #0b051a;
    --light-grey: #e6e6ed;
    --light-white: #f1f3f8;
    --golden: #edb800;
    --white: #ffffff;
    --grey-secondary-light: #f0f3f8;
}
