.winnerWork{
    width: 100%;
    padding: 32px;
    background-color: transparent;
    border: 2px #393B3B solid;
    box-sizing: border-box;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;

    &.winner{
        background-color: #1B2321;
    }

    > .winnerWork_left{
        display: flex;
        gap: 24px;

        > .winnerWork_left_container{

            > .winnerWork_left_contestName{
                font-weight: 600;
                font-size: 36px;
                line-height: 28px;
                letter-spacing: 0%;
            }

            > .winnerWork_left_creationData{
                margin-top: 16px;
                display: flex;
                gap: 20px;

                > .winnerWork_left_creationData_date{
                    padding-left: 20px;
                    border-left: 1px solid #393B3B;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #C4C4C4;
                }
            }

            > .winnerWork_left_workText{
                margin-top: 16px;
                color: #C4C4C4;
                font-weight: 400;
                font-size: 20px;
                line-height: 100%;
                letter-spacing: 0%;
            }

            > button{
                margin-top: 16px;
            }
        }
    }
}