.ag-root-wrapper {
    border: none;
    border-radius: 8px;
    background-color: unset;
    width: 100%;
}
.pagination-controls {
    align-self: center;
}
.custom-header {
    font-weight: bold;
    background-color: var(--grey);
    color: var(--white);
    border: none;
    min-height: 56px;

    &__place {
        width: 100px;
    }

    &__likes,
    &__comments,
    &__reposts {
        .ag-header-cell-label {
            justify-content: flex-end;
        }
    }
}
.ag-header {
    height: 56px !important;

    &-container {
        width: 100% !important;
    }
}
.ag-header,
.ag-pivot-off.ag-header-allow-overflow {
    border: none;
    background: unset;
    min-height: auto !important;
}
.ag-header-cell {
    border: none;
    span {
        color: var(--white);
    }
}
.ag-header-cell.ag-header-active {
    &:hover {
        background: var(--grey) !important;
    }
}
.ag-body-horizontal-scroll-viewport {
    display: none;
}

//custom-cols
.work-link {
    height: 36px;

    &.dark {
        color: var(--white);
    }
}
.name-cell {
    gap: 8px;
    .avatar-img {
        border-radius: 50%;
    }
}
.place-col {
    font-weight: 600;
}

.custom-cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-family: Manrope, 'sans-serif';
    height: 100%;

    &.dark {
        color: var(--white);
    }
    &.active {
        background-color: unset !important;
    }

    &__place {
        justify-content: center;
    }

    &__likes,
    &__comments,
    &__reposts {
        justify-content: flex-end;
        padding-right: 23px;
    }
}

@media (max-width: 1100px) {
    .work-link {
        span {
            display: none;
        }
    }
}
