.rate-wrapper {
    padding: 8px 16px;
    align-items: center;
    gap: 8px;

    &__border {
        border: 1px solid;
        border-radius: 26px;
    }

    &.mobile{
        flex-direction: column;
        
        > span{
            width: 20px;
        }
    }
    
    > button {
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: none;
        padding: 0;

        cursor: pointer;
    }

    > span {
        font-weight: 600;
        line-height: 24px;
        cursor: default;
        font-family: 'Manrope', monospace;
        font-variant-numeric: tabular-nums;
    }
}

.dark {
    .rate-wrapper {
        &__border {
            border: 1px solid var(--grey);
        }
    }
}
.light {
    .rate-wrapper {
        &__border {
            border: 1px solid var(--border-light);
        }
    }
}
