.userProfileData {
    display: flex;
    gap: 8px;
    align-items: center;
    flex: 1;
    max-width: 300px;
    overflow: hidden;

    > img {
        border-radius: 50%;
        width: 44px;
        height: 44px;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: top;
    }

    > .userProfileData_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4px;
        min-width: 0;

        > .userProfileData_headerGroup {
        display: flex;
        align-items: center;
        gap: 4px;
        min-width: 0;

            > span {
                flex: 1;
                font-weight: 600;
                font-size: 20px;
                line-height: 1.2;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}
