.galleryUpload_container {
    // border: 1px solid var(--grey-border);
    // border-radius: 24px;
    // padding: 24px;
    // gap: 28px;

    .title_container {
        padding: 4px 0;
        gap: 10px;

        .galleryUpload__header_container {
            align-items: center;
            gap: 8px;

            .galleryUpload__header {
                font-size: 24px;
                line-height: 32px;
                font-weight: 600;
                padding: 0;
                margin: 0;
                height: 100%;
            }
        }
    }

    .grid_photo_container {
        width: 960px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 16px;
    }
}

@media (max-width: 1280px) {
    .galleryUpload_container {
        .grid_photo_container {
            width: 100%;
            // display: flex;
            // flex-wrap: wrap;
            // max-width: 500px;

            .gallery-upload-item{
                width: 100%;
                aspect-ratio: 1/1;
            }
        }
    }
}
