.ownerDecosonPanel{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;


    > .winnersList{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    // .chooseWinnerPage_paginationBtn{
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-around;
    // }

    > .ownerDecosonPanel_observer{
        content: '';
        height: 30px;
        background-color: red;
        width: 100%;
    }
}