.profileWallet{
    background-color: transparent;
    max-width: 659px ;
    padding: 32px 32px 32px 32px; 
    box-sizing: border-box;
    border-radius: 24px;
    border: #393B3B 1px solid;

    > .profileWallet_header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        > .profileWallet_heading{
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0%;
            font-weight: 400;
        }

        > .profileWallet_seeMore{
            text-decoration: none;
            color: #DDDDDD;
            font-weight: 16px;
            line-height: 24px;
            letter-spacing: 0%;
        }
    }

    > .profileWallet_balanceList{
        margin-top: 16px;
        display: flex;
        gap: 12px;
    }

    > .profileWallet_transactions{
        position: relative;
        margin-top: 16px;
        padding: 24px;
        background-color: #1B2321;
        border-radius: 42px;

        > .profileWallet_transactions_container{
            position: relative;
            max-height: 200px;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: #393B3B transparent;

            // скроллбар
            &::-webkit-scrollbar {
                width: 8px;
                background: transparent;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #393B3B;
                border-radius: 4px;

                border-top: 2px solid black;
                border-bottom: 2px solid black;

                box-sizing: border-box;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: #555;
            }
        }
    }

    > .profileWallet_showMore{
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}