.header {
    position: sticky;
    z-index: 50;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 6.8%;
    height: 72px;
    padding: 12px 65px 12px 65px;

    > .header_logoGroup{
        display: flex;
        gap: 25px;

        > .burgerMenu{
            display: flex;
            align-items: center;
        }
    }

    > .header_registration{
        justify-self: flex-end;
        width: fit-content;
    }

    div.app.light & {
        background-color: var(--white);
    }

    div.app.dark & {
        background-color: var(--dark);
    }
}

.dark {
    .header_sideNavBar {
        background-color: var(--dark);
    }
}
.light {
    .header_sideNavBar {
        background-color: var(--white);
    }
}

@media (max-width: 1060px) {
    .header{

        padding: 12px 16px 12px 16px;
        display: flex;
        gap: 16px;


        > .header_logoGroup{
            gap: 20px;
        }

        > .header_sideNavBar{
            width: 75px;
        }

        > .header_registration{
            
            >span{
                display: none;
            }
        }
    }
}

@media (max-width: 650px) {
    .header{
        padding: 12px 10px 12px 10px;
        
        > .header_logoGroup{
            gap: 10px;
        }

        > .header_registration{
            // padding: 6px 16px;
        }
    }
}