@use 'src/app/styles/breakpoints';

.header {
    height: 72px;
    padding: 12px 65px;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


