.mainInfoRadioElContainer_container{

    .text_icon_container{
        gap:4px;
        margin-bottom: 8px;

        p{
            font-size: 14px;
            line-height: 20px;
            
        }
    }

    .radioElements_container{
        gap:16px;
    }
}