.personInformation{
    background-color: transparent;
    max-width: 659px ;
    padding: 32px 32px 32px 32px; 
    box-sizing: border-box;
    border-radius: 24px;
    border: #393B3B 1px solid;

    > .personInformation_header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        > .personInformation_header_heading{
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0%;
            font-weight: 400;
        }

        > a{
            text-decoration: none;
            color: #DDDDDD;
            font-weight: 16px;
            line-height: 24px;
            letter-spacing: 0%;
        }
    }

    > .personInformation_content{
        margin-top: 24px;
        display: flex;
        gap: 24px;

        > .personInformation_logoGroup{
            position: relative;
            height: 212px;
            aspect-ratio: 1/1;
            background: linear-gradient(90deg, #0BA486, #393B3B);
            border-radius: 50%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-around;

            > img{
                width: 100%;
                aspect-ratio: 1/1;
                border-radius: 50%;
                max-width: 93.3%;
                object-fit: cover;
                object-position: top;
            }
        }

        > .personInformation_data{
            display: flex;
            max-height: 212px;
            flex: 1;
            flex-direction: column;
            gap: 10px;
            background-color: #1B2321;
            padding: 18px;
            box-sizing: border-box;
            border-radius: 24px;

            > .personInformation_data_item{
                display: flex;
                flex-direction: column;
                gap: 3px;

                > .personInformation_data_header{
                    display: flex;
                    gap: 8px;
                    align-items: center;

                    > .personInformation_data_header_heading{
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: -1.1%;
                        color: #C4C4C4;
                    }
                }

                > .personInformation_data_content{
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0%;
                    color: white;
                }
            }
        }
    }

    > .personInformation_bio{
        margin-top: 24px;
        > .personInformation_bio_heading{
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0%;
        }

        > .personInformation_bio_text{
            margin-top: 8px;
            color: #DDDDDD;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    }
}