.logo-link {
    width: fit-content;
    font-weight: 800;
    line-height: 1;
    display: flex;
    align-items: center;
}

.dark {
    .logo-link {
        color: var(--white);
    }
}
.light {
    .logo-link {
        color: var(--text-main);
    }
}
