.imageUpload_container {
    gap: 20px;
    height: 261px;

    .text_icon_container {
        gap: 4px;
    }
    p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 8px;
    }

    .imagePreview_container {
        width: 470px;

        .imageUpload_imagecontainer{
            width: 100%;
            height: 233px;
            background-color: var(--green-dark);
            border-radius: 8px;
            justify-content: center;
            align-items: center;

            .defaultImg{
                width: 120px;
                height: 120px;
            }
        }
    }

    .text_btn_container {
        margin-top: 28px ;
        width: 490px;
        gap: 20px;

        .text{
            color: var(--white-muted);
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 0;
        }

        .uploadBtn{
            width: 140px;
            height: 36px;
            display: flex;
            align-items: center;
            gap:8px;
            padding: 6px 32px;
            
        }
    }
}

.cover_selection{
    background-color: var(--dark) !important;
    // background-color: #02140e !important;
    // background: red !important;
    // color: var(--white);
    width: 957px;

    .cover_selection_container{
        align-items: center;
        .header{
            width: 100%;
            justify-content: space-between;
        }
    }
}

.cover_selection_overlay{
    // background-color: rgba($color: #010604, $alpha: 0.6) !important;
    background-color: rgba($color: yellow, $alpha: 0.6) !important;
}
