.feedback__wrapper {
    justify-content: space-between;

    > div {
        gap: 8px;
    }

    .feedback__button {
        padding: 8px 16px;
    }
}

@media (max-width: 1100px) {
    .feedback__wrapper .feedback__button {
        .text__sm {
            font-size: 12px;
        }
    }
}
@media (max-width: 1115px) {
    .winners__list
        .text-work:not(.first-place)
        .feedback__wrapper
        .feedback__button {
        p {
            display: none;
        }
    }

    .participants-works__list
        .text-work
        .feedback__wrapper
        .feedback__button
        p {
        display: none;
    }
}
